<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td> <a href="http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html"> Introduction to Programming in R</a>  </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html"> Writing Functions in R</a></td> </tr>
      <tr> <td>11:30</td>  <td> <a href="http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/index.html"> Analyzing Multiple Datasets in R</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/shell-genomics/01-introduction/index.html"> Introducing the Shell </a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td> <a href="https://datacarpentry.org/shell-genomics/03-working-with-files/index.html"> Working with Files and Directories </a> </td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
