<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/r-socialsci/00-intro/index.html"> Introduction to R and RStudio</a>  </td> </tr>
      <tr> <td>09:30</td>  <td> <a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to Programming in R</a>  </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html"> Starting with Data</a></td> </tr>
      <tr> <td>11:30</td>  <td> <a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html"> Manipulating Data Frames with <code>dplyr</code>  </a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html"> Manipulating Data Frames with <code>dplyr</code> </a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td> <a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html"> Data Visualisation with <code>ggplot2</code></a> </td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
